
# Ignore repo folder and all temporary stuff
**/.*
!.gitignore

# Ignore ordinary yocto folders
**/build-*
**/downloads
**/sources
**/sstate-cache

# Ignore condig folder
**/config

# Ignore user specific docker file
Dockerfile.user